<ion-header>
  <ion-toolbar>
    <ion-title>
      REGISTRO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-item>
        <ion-input placeholder="NOMBRE DE USUARIO" ngModel #usuario="ngModel" name="usuario" minlength="3">USUARIO : </ion-input>
      </ion-item>
      <ion-item > 
        <ion-input placeholder="DIGITE SU CORREO" ngModel #usuario="ngModel" name="email" minlength="3">EMAIL :</ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="DIGITE CONTRASEÑA" type="password" ngModel #usuario="ngModel" name="contraseña" minlength="3">CONTRASEÑA :</ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-input placeholder="DIGITA NOMBRES" ngModel #usuario="ngModel" name="nombres" minlength="3">NOMBRES :</ion-input>
      </ion-item>
        <ion-item>
        <ion-input placeholder="DIGITA APELLIDOS" ngModel #usuario="ngModel" name="apellidos" minlength="3">APELLIDOS :</ion-input>
      </ion-item>  
    </ion-card>
    <ion-button   href='http://localhost:8100/'>REGISTRAR</ion-button>

</ion-content>
