<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pix" >
    <form (ngSubmit)=login(forma) #forma="ngForm" class="gg">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      <ion-card>
        <ion-item>
          <ion-input placeholder="     NOMBRE DE USUARIO" ngModel #usuario="ngModel" name="usuario" minlength="3"  fill="outline"></ion-input>
        </ion-item>
        <ion-item > 
          <ion-input placeholder="     DIGITE SU CORREO" ngModel #usuario="ngModel" name="email" minlength="3"> </ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="     DIGITE CONTRASEÑA" type="password" ngModel #usuario="ngModel" name="contraseña" minlength="3"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="     DIGITA NOMBRES" ngModel #usuario="ngModel" name="nombres" minlength="3"></ion-input>
        </ion-item>
          <ion-item>
          <ion-input placeholder="     DIGITA APELLIDOS" ngModel #usuario="ngModel" name="apellidos" minlength="3"></ion-input>
        </ion-item>     
      </ion-card>
      <ion-button type="submit" [disabled]=!forma.valid  routerLink='/invitado'><ion-icon name="logo-octocat"></ion-icon>REGISTRAR</ion-button>
    </form>
  </ion-content>